 body { 
  font-family: "Poppins", sans-serif; 
  background: #ECFAE5; 
  /* display: flex;  */
  justify-content: center; 
  align-items: flex-start; 
  /* min-height: 100vh; */
   margin: 0; 
   padding-top: 50px;
   }
 .todo-container 
 { 
  background: #F0F0F0;
   padding: 30px 40px; 
   border-radius: 15px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   width: 80%;
   text-align: center; 
   margin-left: 10%;
    }
  


.todo-container h1 {
  color: #627956;
  font-size: 38px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}


/* Input Field */
.input-section input[type="text"] {
  width: 70%;
  padding: 10px 15px;
  border: 2px solid #D9E9CF;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
}

.input-section input[type="text"]:focus {
  border-color: #96A78D;
  box-shadow: 0 0 5px  #B6CEB4;
}

/* Add Button */
.input-section button {
  padding: 10px 25px;
  background-color: #808f78;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.input-section button:hover {
  background-color: #627956;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #D9E9CF;
  color: #19191a8b;
  font-weight: 600;
}
tbody tr{
color: #19191a8b;
}

tbody tr:hover {
  background-color: #f9f9f9;
}
.status-dropdown {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #B6CEB4;
  background-color: #D9E9CF;
  font-size: 14px;
  color: #19191a8b;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.status-dropdown:focus {
  border-color: #D9E9CF;
  box-shadow: 0 0 5px  #96A78D;

}

/* .status {
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

.status.todo {
  background-color: #B87C4C;
}

.status.pending {
  background-color: #B87C4C;
}

.status.in {
  background-color: #B87C4C;
}

.status.done {
  background-color: #B87C4C;
} */


td button {
  border: none;
  background-color: #D9E9CF !important;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

td button:hover {
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 600px) {
  .todo-container {
    width: 95%;
    padding: 20px;
  }

  .input-section input[type="text"] {
    width: 100%;
  }

  table {
    font-size: 14px;
  }
}
